<div class = "links">
  <div class = "find">
    <%= link_to 'Find a Thing', queries_new_path %>
  </div>

  <div class = "suggest">
    <%= link_to 'Suggest a Thing', activities_new_path %>
  </div>
</div>
