// Place all the styles related to the activities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#slider-snap{
  width: 31%;
  margin: 3% 5% 1% 18.25%;
}


.min-example-val:before {
  content: "Min Activity Level: ";
  font-size: 12px;
  margin-right: 1.5%;
  margin-left: 18.25%;
}

.max-example-val:before {
  content: "Max Activity Level: ";
  font-size: 12px;
  margin-right: 1.5%;
  margin-left: 18.25%;
}

.activity-text{
  padding-top: 7px;
  margin-bottom: 0;
  text-align: right;
  float: left;
  position: relative;
  min-height: 1px;
  padding-right: 0px;

  display: inline-block;
  max-width: 100%;
  box-sizing: border-box;
  font-weight: 700;
}

.title{
  font-weight: 700;
}

.content{
  margin: 1% 5% 2% 5%;
}

.title a {
  font-size: 30px;
}
