/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body{
  margin: 0;
  height: 100%;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
}

.container{
  min-height: 800px;
  padding: 3% 10% 2% 10%;
}

h1 a{
	font: 3em/125% 'Rokkitt', serif;
	color: white;
  text-decoration: none;
}

h1 a:hover {
  text-decoration: none;
  color: #D8D8D8;
}


h1{
  font: 3em/125% 'Rokkitt', serif;
  color: white;
  text-decoration: none;
  /*text-align: center;*/
}

.subtext{
  color: #303030 ;
  display: inline;
}

a{
  text-decoration: none;
  color: black;
  font-family: 'Raleway', sans-serif;
  /*font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;*/
  font-size: 42px;
}

a:hover {
  text-decoration: none;
}
