// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.links{
  text-align: center;
}

.find{
  display: inline-block;
  margin: 3% 10% 0 10%;
}

.suggest{
  display: inline-block;
  margin: 3% 10% 0 10%;
}
